
body{
    /* background-color: rgb(45, 45, 69); */
}
header{
  background-image: url(media/images/camels.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    

}
.header-container{
    background-color:rgb(254, 252, 250);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
   
}

.logo{
    height: 100px;
    width: 150px;
   

}
.header{
    display: flex;
    height: 50px;
    justify-content:space-around;
    
}
.links{
    color: coral;
    display: flex;
    justify-content:space-around;
    gap: 50px;
    list-style: none;
    font-size: large;
}
#Login-btn{
    border: 1px solid black;
   border-radius: 25px;
   padding: 1px 40px 5px;
  height: 40px;
  background-color: rgb(248, 248, 247);
  color: rgb(87, 85, 85);
  font-size: 12px;
}

#Login-btn:hover{
    color: rgb(248, 248, 247);
    background-color: rgb(87, 85, 85) ;
}


#indexm{
    height: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;
   
  
}
.about{
    height: 600px;
}
h4{
    text-align: center;
    font-size: 20px;
    font-weight: 500;

}
.index-para{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
}
.register{
    display: flex;
    justify-content: space-around;
    height: 100px;
    font-size: medium;
   
    
}
.body-btn{
    border: none;
    width: 180px;
    height: 180px;
    margin-top: -30px;
    background-color: #F9F9F9;
    box-shadow: 0 0 25px rgb(173, 172, 172);
    border-radius: 8px;
}



.body-btn p{
    font-size: 20px;
    font-weight: 550;
    color: rgb(61, 59, 59);
}

.num-viewers{
    font-size: 40px;
    font-weight: 600;
    color: rgba(200, 2, 2,0.5);
}
.body-btn:hover{
    background-color: rgb(207, 206, 206);
   .num-viewers{
       color:rgb(200, 2, 2);
    }
}
.index-hd{
    margin-top: 40px;
    
}
#Popular{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
   

}
.box{
    width: 200px;
    height: 270px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    align-items: center;
    gap: 20px;

}
img{
    height: 170px;
    width: 200px;

}
.viewbtn{
   border: 1px solid black;
   border-radius: 30px;
   padding: 6px 70px 6px;
   margin-bottom: 50px;
   background-color: #F9F9F9;
  

   
}
#shamot{
    height: 220px;
    width: 350px;
   
  
}
.mphoto{
    box-shadow: 0px 0px 10px 5px  rgb(128,128,128,0.9 );
    border: 1px solid black;
    height: 220px;
    width: 350px;
    margin-left: 100px;
    margin-right: 30px;
    float: left;
    
}
#paragraph{
    margin-left:  10px;

}
.aboutprg{
    margin-left: 100px;
    margin-right: 100px;
    height: 100vh;

}
footer{
    background-color:#C4CEDA;


}

.footer{
   
    display: flex ;  
    justify-content:space-around;
    height: 150px; 
    flex-wrap: wrap;
    align-items: center;

}
.ulfooter{
    display: flex;
    justify-content:space-between;
    gap: 160px;
}
.icons{
    border-top: 1px solid black;
    display: flex;
    justify-content:space-around;
}
#icons{
    display: flex;
    justify-content:space-between;
    align-items:center ;
    gap: 20px;
}
ul{
    list-style:none;
}
li{
    margin: 10px 5px;
}
.firstli{
    font-size: 20px;
    
}